:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background: var(--bg);
    color: var(--text);
    transition: background-color 0.2s ease, color 0.2s ease;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --white: rgb(222, 222, 222);
    --default-hover: rgb(82, 82, 94);
    --default: rgb(43, 42, 51);
    --light-black: rgb(23, 23, 26);
    --black: rgb(11, 11, 14);
    --green: rgb(102, 174, 51);
    --red: rgb(159, 42, 42);
    --red-hover: rgb(180, 50, 50);
    --darker: rgba(0, 0, 0, 0.8);

    --border-radius-large: 0.6rem;
    --border-radius: 0.4rem;
    --hover: 0.6;

    --space-vs: 4px;
    --space-s: 8px;
    --space-m: 16px;
    --space-l: 32px;
    --space-xl: 64px;

    --text: var(--white);
    --bg: var(--black);
    --content: var(--light-black);
    --content-hover: var(--default);
    --modal: var(--light-black);
    --button-hover: var(--default);
    --input: var(--black);
    --delete: var(--red);
    --delete--hover: var(--red-hover);
    --edit: var(--green);
}

[data-theme='light'] {
    --text: var(--black);
    --bg: var(--white);
    --content: var(--light-grey);
    --content-odd: var(--lighter-grey);
    --modal: var(--lighter-grey);
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input[type='text'] {
    cursor: text;
}

input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
    cursor: text;
}

button {
    cursor: pointer;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--content);
    margin: 1rem 0.5rem;
}
