:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white: rgba(255, 255, 255, 0.87);
  --lighter-grey: rgba(255, 255, 255, 0.5);
  --light-grey: rgba(255, 255, 255, 0.3);
  --black: rgba(0, 0, 0, 0.8);

  --dark: rgba(0, 0, 0, 0.5);
  --darker: rgba(0, 0, 0, 0.3);

  --border-radius-large: 0.6rem;
  --border-radius: 0.4rem;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input[type="text"] {
  cursor: text;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
  cursor: text;
}

button {
  cursor: pointer;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--light-grey);
  margin: 1rem 0.5rem;
}
