.modal {
    background: var(--modal);
    margin: var(--space-m);
    border-radius: var(--border-radius-large);
    width: 45rem;
    color: var(--text);
    text-align: start;
    overflow: auto;
    max-height: 90vh;
}

.modalTop {
    display: flex;
    justify-content: end;
}

.modalContent {
    padding: 0 var(--space-xl) var(--space-l) var(--space-xl);
}

.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darker);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.topBar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: var(--space-m);
    padding: var(--space-m);
}

.content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    align-items: center;
}

.button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    color: var(--text);
    font-size: 1rem;
    transition: background-color 0.5s;
    background-color: var(--button);
}

.button:hover {
    background-color: var(--button-hover);
}

.invisibleButton {
    background: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.5s;
}

.invisibleButton:hover {
    background-color: var(--button-hover);
}

.strechButtons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.strechButtons > .button {
    flex-grow: 1;
}

.recipeInputs {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.recipeInputs > * {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: text;
}

.recipeInputs > textarea {
    resize: vertical;
}

.recipeInstructions {
    white-space: pre-line;
}

.ingredientList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ingredientList:has(> *) {
    margin-bottom: 1rem;
}

.ingredientInputs {
    background-color: var(--input-bg);
    border-radius: var(--border-radius);
    padding: var(--space-s);
    margin: 0 0;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
}

.ingredientInputs > * {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
}

.ingredientInputs > input[type='number'] {
    width: 11ch;
    box-sizing: border-box;
}

.ingredientInputs > select {
    cursor: pointer;
}

.recipeList {
    border-radius: var(--border-radius-large);
    max-width: 30rem;
    width: 100%;
    margin: 1rem auto;
    overflow: hidden;
    background-color: var(--content);
}

.recipeList > * {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid var(--bg);
    transition: background-color 0.5s;
}

.recipeList > *:hover {
    background-color: var(--content-hover);
}

.recipeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: var(--space-s);
    column-gap: var(--space-l);
}

.IngredientRow {
    display: contents;
}

.IngredientRow > div,
.recipeGrid > h3,
.recipeGrid > h1,
.recipeGrid > div {
    grid-column: 1 / -1;
}

.IngredientRow > dt {
    grid-column: 1;
}

.IngredientRow > dd {
    margin: 0; /* I use colum gap */
    grid-column: 2;
}

.dropdownMenu {
    position: absolute;
    background-color: var(--content);
    right: 0;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: 1rem;
    gap: 1rem;
}

.dropdownMenu button {
    margin: 0;
}

.loading {
    padding: 1rem;
}

.delete {
    background-color: var(--delete);
    transition: background-color 0.2s;
}

.delete:hover {
    background-color: var(--delete--hover);
}

.row {
    display: flex;
    flex-direction: row;
    gap: var(--space-s);
}

.editActive {
    color: var(--edit);
    transition: color 0.5s;
}

.changeSize {
    display: flex;
    gap: var(--space-s);
    flex-direction: row;
    align-items: center;
}

.changeSize > .button {
    line-height: 0;
    padding: var(--space-vs) var(--space-s);
}

.modalTitle {
    margin-top: 0;
}

.autoRefreshTextarea {
    width: 100%;
    overflow-y: hidden;
    resize: none;
    box-sizing: border-box;
}

@media (max-width: 630px) {
    .ingredientInputs {
        grid-template-columns: 1fr auto auto;
        grid-template-rows: auto auto;
    }

    .ingredientInputs > input:first-child {
        grid-column: 1 / span 3;
        grid-row: 1;
    }

    .ingredientInputs > input[type='number'] {
        grid-column: 1;
        grid-row: 2;
        width: 100%; /* mobile: fill available column */
    }

    .ingredientInputs > select {
        grid-column: 2;
        grid-row: 2;
    }

    .ingredientInputs > button {
        grid-column: 3;
        grid-row: 2;
    }

    .modalContent {
        padding: var(--space-m);
        padding-top: 0;
    }
}

@media (max-width: 360px) {
    .ingredientInputs {
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto auto;
    }

    .ingredientInputs > input:first-child {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .ingredientInputs > input[type='number'] {
        grid-column: 1 / span 2;
        grid-row: 2;
        width: 100%; /* mobile: fill available column */
    }

    .ingredientInputs > select {
        grid-column: 1;
        grid-row: 3;
    }

    .ingredientInputs > button {
        grid-column: 2;
        grid-row: 3;
    }

    .modalContent {
        padding: var(--space-m);
        padding-top: 0;
    }

    .recipeGrid {
        grid-template-columns: 1fr auto;
    }
}
